<!doctype html>
<html lang="en">
{% block grid_script %}{% endblock %}
<head>
    <style>
        body {
            font: 14px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            
        }
        
    </style>
<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/css/ui.jqgrid.css" />
<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" media="screen" type="text/css" />
</head>
<body onload="initGrid()">
<div id="secondary" >
    <table id="list2"></table>
	<div id="pager2"></div>
</div>
<script src="/static/js/Jquery/jquery.min.1.10.1.js"></script>   
<script src="/static/jqGrid/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="/static/jqGrid/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="/static/jqGrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
</body>