<!doctype html>
<html lang="en">
<head>
<title>jQuery PageSlide Demo</title>
<!--  The jquery.pageslide.css stylesheet has the class that you'll need on your page -->
<link rel="stylesheet" type="text/css"
	href="/static/css3-buttons/gh-buttons.css" />

<link rel="stylesheet" type="text/css"
	href="/static/srobbin-jquery-pageslide/jquery.pageslide.css" />
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon"
	href="http://twitter.github.io/bootstrap/assets/ico/favicon.png">

<script src="/static/js/Jquery/jquery.min.1.10.1.js"></script>
<script src="/static/jqGrid/js/jquery-1.9.0.min.js"
	type="text/javascript"></script>
<script src="/static/jqGrid/js/i18n/grid.locale-en.js"
	type="text/javascript"></script>
<script src="/static/jqGrid/js/jquery.jqGrid.min.js"
	type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen"
	href="/static/jqGrid/css/ui.jqgrid.css" />
<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"
	rel="stylesheet" media="screen" type="text/css" />
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% block map %}{% endblock %}
<style>
body {
	background: #f4f4f4;
	font: 14px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: none;
}

a,a:visited {
	text-decoration: none;
	border-bottom: 1px dotted #C30;
}

a:hover {
	border-bottom-style: solid;
}

p {
	margin-bottom: 20px;
}

#content {
	width: 90%;
	padding: 10px;
	margin-top: 30px;
}

#content h1 {
	color: #333;
	line-height: 1em;
}

#content ul {
	padding-left: 0;
	list-style: none;
}

#content ul li {
	margin-bottom: 20px;
}

pre {
	border: 1px solid #CCC;
	background-color: #EEE;
	color: #333;
	padding: 10px 20px;
}

#map {
	width: 90%;
	height: 550px
}
</style>
</head>
<body onload='initialize()'>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Protec MapTrack</a>
				<div class="nav-collapse collapse">

					<p class="navbar-text pull-right">
						{% if user.is_authenticated %} Logged in as <a href="#"
							class="navbar-link">{{ user.username }} </a><a href="/logout/">
							Logout</a> {% endif %}
					</p>
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>

					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div id="content" class="container">
		<h1>Protec Map Track</h1>
		
		<div class="button-group">
			<a href="/get_latest_waypoint_Grid/" onmouseover="slide()" class="button primary">Dashboard</a> 
			<a href="#"	class="button">Inbox</a> 
			<a href="#" class="button">Account</a> 
			<a href="#" class="button">Logout</a>
		</div>
		<div id="map"></div>
		<ul>
			<li><a href="/get_latest_waypoint_Grid/" class="button">Slide
					to the right, and load content from a secondary page.</a></li>
			<li><button onmouseover="slide()" onclick="">Slide</li>

		</ul>

	</div>
	<script src="/static/srobbin-jquery-pageslide/lib/jquery-1.7.1.min.js"></script>
	<script src="/static/srobbin-jquery-pageslide/jquery.pageslide.min.js"></script>
	<script>
	function slide() {
	$.pageslide({ href: '/get_latest_waypoint_Grid/' });
	}
        /* Default pageslide, moves to the right */
        
        $(".button").pageslide();
        
        /* Slide to the left, and make it model (you'll have to call $.pageslide.close() to close) */
        $(".second").pageslide({ direction: "left", modal: true });
    </script>
</body>
</html>
