<!DOCTYPE html>
<html>
<head>
	<title>GoogleGeoLoc Login</title>
	<link rel="stylesheet" href="/static/login/normalize.css">
	<link rel="stylesheet" href="/static/login/style.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">
</head>
<body>
	{% block loginform %}
	{% endblock %}
</body>
</html>